<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar -DGRAYLOG_ORIGIN_HOST=$HOSTNAME  -DGRAYLOG_SERVER=10.70.1.80 -DGRAYLOG_PORT=12201 &quot;%HOME%\site\wwwroot\azuredemo-0.0.1-SNAPSHOT.jar&quot; --spring.config.location=file:./application.properties --logging.file=azuredemo.log">
        </httpPlatform>
    </system.webServer>
</configuration>